
<div class="title">
  <h2 class="tx-center">EDIT TEAM</h2>
  <p class="tx-center">チーム情報編集</p>
</div>

<div class="users_edit_container">
	<div class="container">
		<div class="row">
			<div class="col-xs-4 col-xs-offset-4">
				<%= form_for(@team) do |f| %>

				<b>チーム名</b>
				<%= f.text_field :team_name, autofocus: true, style: "width:100%", class: 'form-group' %>

				<b>チーム紹介</b>
				<%= f.text_area :team_body, autofocus: true, style: "width:100%", rows:'6', class: 'form-group' %>

				<b>チーム画像</b>
          		<%= f.attachment_field :team_image, style: "width:100%", class: 'form-group' %>

				<b>タグ</b>
				<div class="tags">
	            	<%= f.fields_for :tags do |tag| %>
	            	<%= render 'tag_fields', f: tag, class: 'form-control' %>
	            	<% end %>
	             		<div class="links">
	              			<%= link_to_add_association '＋タグを追加', f, :tags, class: "btn btn-link" %>
	            		</div>
	            </div>

				<div class="action">
	      			<%= f.submit "更新する", class: 'btn-gradient-radius' %>
				</div>
				<% end %>

        	</div>
		</div>
	</div>
</div>