<h1>Teams#index</h1>
<p>チームを探す</p>

        <% @teams.each do |team| %>
              <div class="team_container">
                  <%= link_to team_path(team.id) do %>
                  <%= attachment_image_tag team, :team_image, :fill, 100, 100, fallback: "no_image.jpg" ,size: '100x100' %><br>
                  <%= team.team_name %>
                  <br>
                  <%= @team_tag.each do |t| %>
                  <%= t.tag.tag_name %>
                  <% end %>
                  <br>
              </div>
        <% end %>

    </div>
    <div class= "row">
      <div class= "col-xs-4 col-xs-offset-4">
        <%= paginate @teams %>
      </div>
