
<div class="title">
  <h2 class="tx-center">NEW TEAM CREATE</h2>
  <p class="tx-center">チーム新規作成</p>
</div>

<div class="users_container">
	<div class="container">
		<div class="row">
			<div class="col-xs-4 col-xs-offset-4">
        	<%= form_for (@team) do |f| %>

			<b>チーム名</b>
			<%= f.text_field :team_name, style: "width:100%", class: 'form-group' %>

			<b>チーム紹介文</b>
			<%= f.text_area :team_body, style: "width:100%", rows:'6', class: 'form-group' %>

			<b>チーム画像</b>
          	<%= f.attachment_field :team_image, style: "width:100%", class: 'form-group' %>

			<%= f.fields_for :user_teams do |t| %>
	        <%= t.hidden_field :user_id, :value => current_user.id %>
			<% end %>

			<b>タグ設定</b>

			<div class="tags">
        		<%= f.fields_for :tags do |tag| %>
            	<%= render 'tag_fields', f: tag, class: 'form-control' %>
        		<% end %>
        			<div class="links">
              		<%= link_to_add_association '＋タグを追加', f, :tags, class: "btn btn-link" %>
        			</div>
        	</div>

			<div class="action">
	      		<%= f.submit "チーム作成", class: 'btn-gradient-radius' %>
			</div>

			<% end %>
			</div>

		</div>
	</div>
</div>

