
<div class="title">
  <h2>TEAM INFORMATION</h2>
  <p>チーム情報</p>
</div>

<div class="team_box">
   <div class="container">
	   <div class="row">
		   <div class="col-xs-3">
			   <div class="image_team">
			      <%= attachment_image_tag @team, :team_image, :fill, 230, 230, fallback: "/images/no_image.jpg", class: 'img-responsive' %>
		       </div>
		    </div>
		    <div class="col-xs-9">
				<table class="team_table">
					<tr>
						<th class="team_show_th"><h4>Team Name<font size="1"> <チーム名></font></h4></th>
						<td class="team_show_td"><%= @team.team_name %></td>
					</tr>
					<tr>
						<th class="team_show_th"><h4>Team Tag<font size="1"> <チームタグ></font></h4></th>
						<td class="team_show_td2"><% @tags.each do |tag| %><h5 class="tag_box"><%= tag.tag_name %></h5><% end %></td>
					</tr>
					<tr>
						<th class="team_show_th"><h4>Introduction<font size="1"> <チーム紹介></font></h4></th>
						<td class="team_show_td"><%= @team.team_body %></td>
					</tr>
					<tr>
						<th class="team_show_th"><h4>Member<font size="1"> <メンバー></font></h4></th>
						<td class="team_show_td">
							<% @user_teams.each do |u| %>
							<%= link_to user_path(u.user.id) do %>
							<%= attachment_image_tag u.user, :user_image, :fill, 100, 100, fallback: "/images/no_image.jpg", size:'80x80',style: 'border-radius: 50%;'%>
							<% end %>
							<% end %>
						</td>
					</tr>
					<tr>
						<th class="team_show_th"></th>
						<td class="team_show_td3">
							<% if @set_member.count == 0 %>
							<%= button_to 'チームに参加する', user_teams_path(user_team: {user_id: current_user.id, team_id: @team.id}), method: :post, class: "btn-gradient-radius" %>
							<% else %>
							<%= button_to 'チームから脱退する', user_team_path(user_team: {team_id: @team.id}), method: :delete, class: "btn-gradient-radius" %>
							<% end %></td>
						<tr>
				</table>
		    </div>
	    </div>
    </div>
</div>
