<h1>Teams#show</h1>

<p>チーム詳細</p>

<p>チーム名</p>
<%= @team.team_name %>
<%= attachment_image_tag @team, :team_image, format: 'jpeg', fallback: "no_image.jpg" ,size: '150x150',class: 'img-responsive img-rounded' %>

<p>チームタグ</p>
<% @tags.each do |tag| %>
<%= tag.tag_name %>
<% end %>


<p>チーム紹介</p>
<%= @team.team_body %>
<br>

<p>メンバー</p>
<% @user_team.each do |u| %>
<%= u.user.hundle_name %>
<% end %>

