<h1>Notes#new</h1>

<%= form_with(model: @note, local: true) do |f| %>

  <div class="time">
    <%= f.label :start_time, "日付" %>
    <%= f.date_select :start_time %>
  </div>

  <div class="work">
    <%= f.label :work_id, "ワーク" %>
    <%= f.collection_select :work_id, Work.all, :id, :work_title, class: 'form-control input-sm' %>
  </div>

  <div class="content">
    <%= f.label :note_body, "メモ" %>
    <%= f.text_area :note_body %>
  </div>

  <div class="form-inline">
  	<div class="radio col-xs-3">
    	<label>
        	<%= f.radio_button :result, :達成, checked: "checked" %>Complete!!
        </label>
    </div>
   </div>

   <div class="form-inline">
  	<div class="radio col-xs-3">
    	<label>
        	<%= f.radio_button :result, :未達成 %>Uncomplete..
        </label>
    </div>
   </div>

  <div class="submit">
    <%= f.submit %>
  </div>

<% end %>
