
<div class="title">
    <h2 class="tx-center">NEW PROGRESS</h2>
    <p class="tx-center">進捗投稿</p>
</div>

<div class="notes_new_container">
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
            <%= form_with(model: @note, local: true) do |f| %>

                  <div class="field">
                      <%= f.label :start_time, "月日" %>
                      <br>
                      <%= f.date_select :start_time, style: "width:100%", class: 'form-control'  %>
                  </div>

                  <div class="field2">
                      <%= f.label :work_id, "ワーク" %>
                      <br>
                      <%= f.collection_select :work_id, Work.all, :id, :work_title, class: 'form-control',style: "width:100%" %>
                  </div>

                  <div class="field2">
                      <label class="mb-10">メモ</label>
                      <%= f.text_area :note_body, style: "width:100%", rows:'6', class: 'form-group' %>
                  </div>

                  <div class="result-box clearfix">
                      <div class="result-box_1">
                    	    <label class="font_collect">
                        	<%= f.radio_button :result, :達成, checked: "checked" %>Complete!!
                          </label>
                      </div>

                      <div class="result-box_2">
                    	    <label class="font_collect">
                        	<%= f.radio_button :result, :未達成 %>Failed..
                          </label>
                      </div>
                  </div>

                  <div class="action2">
                     <%= f.submit "投稿する", class: 'btn-square' %>
                  </div>
            <% end %>
            </div>
         </div>
    </div>
</div>
