
<div class="title">
  <h2>PROGRESS</h2>
  <p>進捗</p>
</div>

<div class="body_note">
  <h3><%= @note.start_time.strftime("%Y-%m-%d") %></h3>

  <div class="work_container clearfix">
    <div class="work_box">
      <div class="box25">
        <p><%= @note.work.work_title %></p>
      </div>
      <div class="image">
      <%= attachment_image_tag @note.work, :work_image, :fill, 200, 200, fallback: "/images/no_image.jpg" ,size: '200x200' %>
         <div class="medal">
          <% if @note.result == "達成" %>
          <%= image_tag '/images/goldstar.png', :size => '50x50' %>
          <% else %>
          <%= image_tag '/images/bronzestar.png', :size => '50x50' %>
          <% end %>
         </div>
      </div>
    </div>

    <div class="work_2">
       <div class="box28">
           <span class="box-title">メモ</span>
           <p><%= @note.note_body %></p>

          <% if @note.favorited_by?(current_user) %>
            <p>
            <%= link_to note_favorite_path(@note),  class: 'good', method: :delete do %>
              <i class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red; font-size:20px;"></i>
              <span><%= @note.favorites.count %>いいね</span>
            <% end %>
            </p>
          <% else %>
             <p>
             <%= link_to note_favorites_path(@note), class: 'good', method: :post do %>
              <i class="glyphicon glyphicon-heart" aria-hidden="true" style="color: black; font-size:20px;"></i>
              <span><%= @note.favorites.count %>いいね</span>
            <% end %>
            </p>
          <% end %>
        </div>
    </div>

    </div>
    <%# ノート投稿者のみ削除できる %>
    <% if @note.user_id == current_user.id %>
    <%= link_to '削除', note_path(@note), method: :delete, data: { confirm: '記事を削除してもよろしいですか?' }, class: 'fr' %>
    <% end %>

  </div>

  <div class="title2">
    <h2>COMMENTS</h2>
    <p>コメント</p>
  </div>

  <div class="comment_box">
    <table width="100%">
      <% @note.comments.each do |comment| %>
      <tr>
        <td style="padding-top:5px" width="5%"><%= attachment_image_tag comment.user, :user_image, :fill, 100, 100, fallback: "/images/no_image.jpg" ,size: '50x50',class: 'img-responsive img-rounded' %></td>
        <td align="center"><%= comment.user.hundle_name %></td>
        <td width="10%"><%= comment.created_at.strftime('%Y/%m/%d') %></td>
        <td width="75%"><%= comment.comment_body %></td>
        <td width="5%">
          <%# コメント投稿者もしくは、ノートの投稿者のみ削除できる %>
          <% if comment.user_id == current_user.id or @note.user_id == current_user.id %>
          <%= link_to '削除', note_comment_path(comment), method: :delete %>
          <% end %>
        </td>
      </tr>
     <% end %>
    </table>
  </div>

  <div class="comment_form_box clearfix">
     <%= form_for [@note, @comment] do |f| %>
        <%= f.text_area :comment_body, rows:'1', class: "form-control",placeholder: "コメント" %>
        <%= f.submit "送信する", class: "btn-gradient-radius" %>
     <% end %>
  </div>




