<p>記事編集</p>
<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
        	<h3>編集フォーム</h3>
        	<%= form_for [@team, @article] do |f| %>
        	    <%= f.text_field :article_title, autofocus: true, required: true %><br>
        		<%= f.text_area :article_body, autofocus: true, required: true, :size=>"60x10" %><br>
        		<%= f.submit "更新", class: "btn btn-default" %>
                <%= link_to '削除', team_article_path(@article.id), method: :delete, "data-confirm" => "削除しますか？" %>
        	<% end %>
    	</div>
	</div>
</div>