
<div class="title">
  <h2 class="tx-center">EDIT USER INFORMATION</h2>
  <p class="tx-center">ユーザー情報変更</p>
</div>

<div class="users_container">
<div class="container">
	<div class="row">

		<div class="col-xs-4 col-xs-offset-4">

			<%= form_for(@user) do |f| %>
			<b>名前</b>
				<%= f.text_field :name, autofocus: true, style: "width:100%", class: 'form-group' %>
			<b>名前(フリガナ)</b>
				<%= f.text_field :ruby_name, autofocus: true, style: "width:100%", class: 'form-group' %>
			<b>ハンドルネーム</b>
				<%= f.text_field :hundle_name, autofocus: true, style: "width:100%", class: 'form-group' %>
			<b>電話番号(ハイフンなし)</b>
				<%= f.text_field :phone, autofocus: true, style: "width:100%", class: 'form-group' %>
			<b>メールアドレス</b>
				<%= f.text_field :email, autofocus: true, style: "width:100%", class: 'form-group' %>
		    <b>誕生日</b>
				<%= f.text_field :birthday, autofocus: true, style: "width:100%", class: 'form-group' %>
            <b>居住地</b>
				<%= f.text_field :address, autofocus: true, style: "width:100%", class: 'form-group' %>
			<b>目標</b>
				<%= f.text_area :goal, autofocus: true, style: "width:100%", class: 'form-group' %>
			<b>自己紹介</b>
				<%= f.text_area :introduction, autofocus: true, rows:'6', style: "width:100%", class: 'form-group' %>
			<div class="field">
               <b>画像選択</b>
    　　　　　　<%= f.attachment_field :user_image %>
  　　　　　 </div>
			<%#
			<h4><パスワード></h4>
				<%= f.password_field :password, class: "col-xs-" %>
			<div class="action">
				<%= f.submit "更新する", class: "btn-gradient-radius" %>
			</div>
			<% end %>
		</div>
		<br>
		<br>
	</div>
</div>
</div>