
<div class="title clearfix">
	<div class="title_left">
        <h2>PROFILE</h2>
        <p>プロフィール</p>
    </div>
    <div class="title_right">
    	<div class="name_box2">
    	    <% if @user.id == current_user.id %>
    	    <%= link_to '編集する', edit_user_path(@user), class: 'btn-square' %>
    	    <% end %>
        </div>
    </div>
</div>

<div class="user_box">
<div class="container">
	<div class="row">
		<div class="col-xs-4">
			<div class="image_user">
			<%= attachment_image_tag @user, :user_image, :fill, 250, 240, fallback: "no_image.jpg", size:'250x240',class: 'img-responsive' %>
		    </div>
		</div>
		<div class="col-xs-8">
			<table>
				<tr>
					<th class="user_show_th"><h4>Name<font size="1"> <名前></font></h4></th>
					<td class="user_show_td"><%= @user.hundle_name %></td>
				</tr>
				<tr>
					<th class="user_show_th"><h4>Team<font size="1"> <所属チーム></font></h4></th>
					<td class="user_show_td"><% @user_team.each do |u| %><%= u.team.team_name %>  <% end %></td>
				</tr>
				<tr>
					<th class="user_show_th"><h4>Address<font size="1"> <居住地></font></h4></th>
					<td class="user_show_td"><%= @user.address %></td>
				</tr>
				<tr>
					<th class="user_show_th"><h4>Goal<font size="1"> <目標></font></h4></th>
					<td class="user_show_td"><%= @user.goal %></td>
				</tr>
				<tr>
					<th class="user_show_th"><h4>Introduction<font size="1"> <自己紹介></font></h4></th>
					<td class="user_show_td"><%= @user.introduction %></td>
				</tr>
			</table>
		</div>
	</div>
</div>
</div>

<div class="title2">
  <h2>STATUS</h2>
  <p>ステータス</p>
</div>

<div class="status_box">
<!-- チャート描画キャンバス -->
<div><canvas id="myChart"></canvas></div>

<script>

// 色の設定
var colorSet = {
	red: 'rgb(255, 99, 132)',
	orange: 'rgb(255, 159, 64)',
	yellow: 'rgb(255, 205, 86)',
	green: 'rgb(75, 192, 192)',
	blue: 'rgb(54, 162, 235)',
	purple: 'rgb(153, 102, 255)',
	grey: 'rgb(201, 203, 207)'
};

// 色のRGB変換
var color = Chart.helpers.color;

/*
 * チャートの初期設定
 */
var config = {
	type: 'radar',
	data: {
		labels: ["知識", "メンタル", "協調性", "社交性", "魅力"],
		datasets: [{
			label: 'Status',
			backgroundColor: color(colorSet.red).alpha(0.5).rgbString(),
			borderColor: colorSet.red,
			pointBackgroundColor: colorSet.red,
			data: [<%= @user.kind %>, <%= @user.mental %>, <%= @user.coop %>, <%= @user.social %>, <%= @user.glamor %>]
		},]
	},
	options: {
		animation:false,
		showTooltips: false,
		legend: { display: false, position: 'bottom' },
		title: {
			display: false,
			fontSize:20,
			fontColor:'#666',
			text: 'ステータス'
		},
		scale: {
			display: true,
			pointLabels: {
				fontSize: 15,
				fontColor: colorSet.yellow
			},
			ticks: {
				display: false,
				fontSize: 12,
				fontColor: colorSet.green,
				min: 0,
				max: 500,
				beginAtZero: true
			},
			gridLines: {
				display: true,
				color: colorSet.yellow
			}
		}
	}
};

/*
 * チャートの作成
 */
var myRadar = new Chart($("#myChart"), config);

</script>
</div>

<div class="user_box">
	<h3>MEMBER'S STATUS</h3>
		<div class="user_box2 clearfix">
		<% @team_members.each do |member| %>
			<div class="member_container">
        	<%= link_to user_path(member.id) do %>
        	<%= attachment_image_tag member, :user_image, :fill, 100, 100, fallback: "no_image.jpg" ,size: '80x80',style: 'border-radius: 50%;' %><br>
        		<div class="text-center">
        			<%= member.hundle_name %>
        		</div>
        		<% end %>
   			</div>
   		<% end %>
		</div>
</div>