
<div class="title">
	<h2>PROGRESS</h2>
	<p>進捗</p>
</div>

<div class="user_info clearfix">
	<div class="name_box">
		<h2><%= @user.hundle_name %><font size="2">さん</font></h2>
	</div>
	<div class="days_box">
		<h2><font size="4">継続日数</font> / <%= @user.number_days %>日  <font size="4">復帰回数</font> / <%= @user.number_return %>回</h2>
	</div>
</div>

<div class="user_info clearfix">
	<div class="name_box">
		<%= link_to '進捗を書き込む', new_note_path, class: 'btn-square' %>
	</div>
	<div class="days_box">
		<h2><font size="4">最大継続日数</font> / <%= @user.max_number_days %>日</h2>
	</div>
</div>

<div class="calender_box">


	<%= month_calendar events: @notes do |date, notes| %>
	  <%= date.day %>

		  <% notes.each do |note| %>
		    <div>
		    	<% if note.result == "達成" %>
		    		<%= link_to note_path(note) do %>
                  	<%= image_tag("goldstar.png", :size => "40x40") %>
                  	<% end %>
                <% else %>
                  	<%= link_to note_path(note) do %>
                  	<%= image_tag("bronzestar.png", :size => "40x40") %>
                  	<% end %>
                <% end %>
		    </div>
		  <% end %>
	 <% end %>
</div>